<div class="pantry">
<h1> Your Pantry </h1>
  <form name='Pantry' ng-submit="pantryPost()" ng-controller:"pantryController">
    <input name='addProduce' type="text"
      ng-model="pantry"
      placeholder="item"/>
    <input type="submit" value="Add to pantry"/>
  </form>

  <div ng-repeat='produce in produces.data'>{{produce.name}}
    <ul>    <div class="meter">
      <span ng-style="{'width':'{{produce.elapsed/produce.shelf_life*100}}%'}"></span>
    </div> 
    {{(produce.elapsed / 60)}} hours / {{produce.shelf_life / 60}} hours 
      <input type='submit' value ="remove from pantry" ng-click='pantryRemove(produce._id)'/>
    </ul>
  </div>
</div>